@import url(./scrollbar.css);
@import url(./product.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 242 242 242;
    --foreground: 2 18 49;

    --muted: 219 219 219;
    --muted-foreground: 102 102 102;

    --popover: 242 242 242;
    --popover-foreground: 2 18 49;

    --card: 242 242 242;
    --card-foreground: 2 18 49;

    --border: 219 219 219;
    --input: 219 219 219;

    --primary: 10 91 245;
    --primary-foreground: 242 242 242;

    --secondary: 219 219 219;
    --secondary-foreground: 10 91 245;

    --accent: 245 164 10;
    --accent-foreground: 91 60 2;

    --destructive: 141 12 20;
    --destructive-foreground: 242 197 200;

    --ring: 202 213 235;

    --radius: 0.5rem;
  }

  .dark {
    --background: 2 18 49;
    --foreground: 242 242 242;

    --muted: 4 31 84;
    --muted-foreground: 10 82 222;

    --popover: 2 18 49;
    --popover-foreground: 242 242 242;

    --card: 2 18 49;
    --card-foreground: 242 242 242;

    --border: 4 31 84;
    --input: 4 31 84;

    --primary: 10 91 245;
    --primary-foreground: 242 242 242;

    --secondary: 219 219 219;
    --secondary-foreground: 10 91 245;

    --accent: 245 164 10;
    --accent-foreground: 229 214 186;

    --destructive: 141 12 20;
    --destructive-foreground: 242 197 200;

    --ring: 4 25 66;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .smooth-500 {
    @apply duration-500 ease-in-out;
  }
  .smooth-700 {
    @apply duration-700 ease-in-out;
  }
  .smooth-1000 {
    @apply duration-700 ease-in-out;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
